<h1 class="text-white">Welcome to the Admin Page</h1>
<h3 class="text-white">Select Verification Requests in order to approve/decline pending verification applications.</h3>

<a asp-action="ViewVerificationRequests">
    <input class="btn btn-primary text-white" type="button" value="Verification Requests" />
</a>