<h1 class="text-white">Welcome Admin user!!</h1>
<h3 class="text-white">Select from the following administration operations:</h3>

<a asp-action="ViewVerificationRequests">
    <input class="btn btn-primary text-white" type="button" value="Verification Requests" />
</a>