@model Game

<div class="card col-sm-4 col-lg-4 col-md-4">
  <img class="card-img-top" src="@Model.GameImageThumbnailUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@Model.GameName</h5>
    <p class="card-text">@Model.GameDescription</p>
    <p class="card-text">€@Model.Price</p>
    <div class="addToCart text-right">
            <p class="btn btn-success">
            <a class=btn btn-success" id= "cartButton"
            asp-controller="ShoppingCart"
            asp-action="AddToShoppingCart"
            asp-route-gameID="@Model.GameID">
            Add To Cart
            </a>
        </p>
    </div>
  </div>
</div>