@model LibraryViewModel
@{
    ViewData["Title"] = "My GameLibrary";
}

@if (Model.PurchasedGames.Count > 0)
{
    <h2 class="text-white">These are the current Games in your library</h2>
    <div class="row">
        @foreach (var game in Model.PurchasedGames)
        {
            @Html.Partial("GameCard", game)
        }
    </div>
    
}
else {
    <h2 class="text-white">You currently have no games in your library. Grab your first game from the store</h2>
}