@model CasinoViewModel
@{
    ViewData["Title"] = "Casino";
}
@if (ViewBag.VerificationMessage != null)
{
    <div class="alert alert-info">
        @ViewBag.VerificationMessage
    </div>
}

@if (ViewBag.VerificationMessage == null || !User.Identity.IsAuthenticated)
{
    <h2 class="text-white">Casino Games</h2>

    <div class="row">
        @foreach (var game in Model.CasinoGame)
        {
            @Html.Partial("GameCard", game)
        }
    </div>
}
