<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Funds Added Successfully!</h2>
        <p>Your payment was successful, and the funds have been added to your wallet.</p>
        <hr />
        <p>Thank You King!</p>
        </div>

     <div class="col-md-6 offset-3 text-center">
       <a class="btn btn-primary" asp-controller="Library" asp-action="Index">Go to Library</a>
     </div>

</div>