<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Order completed successfully!</h2>
        <p>You can check all your orders in the Transaction history of your profile</p>
        <hr />
        <p>Thank You King!</p>
        </div>

     <div class="col-md-6 offset-3 text-center">
       <a class="btn btn-primary" asp-controller="Library" asp-action="Index">Go to Library</a>
     </div>

</div>