@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}

@await Html.PartialAsync("Carousel")

<h2 class="text-white">Recommended Games</h2>

<div class="row">
    @foreach(var game in Model.FeaturedGames)
    {
        @Html.Partial("GameCard", game)
    }
</div>




