@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}

@await Html.PartialAsync("Carousel")

<h2 class="text-white">Recommended Games</h2>

<div class="row">
    @foreach(var game in Model.FeaturedGames)
    {
        bool userHasGame = Model.PurchasedGameIDs.Contains(game.GameID);
        var partialViewData = new ViewDataDictionary(ViewData)
        {
            { "UserHasGame", userHasGame }
        };
        @Html.Partial("GameCard", game, partialViewData)
    }
</div>

<h2 class="text-white">Free Browser Games</h2>

<div class="row mb-2">
    @foreach (var game in Model.FreeGames)
    {
        @Html.Partial("GameCard", game)
    }
</div>






