@using GamesPlatform.ViewModels
@model GameListViewModel
@{
    ViewData["Title"] = "List of avaliable games";
}

<h1 class="text-white">@Model.CurrentCategory</h1>

<div class="row">
@{
    foreach (Game game in Model.Games)
    {
        bool userHasGame = Model.PurchasedGameIDs.Contains(game.GameID);
        var partialViewData = new ViewDataDictionary(ViewData)
        {
            { "UserHasGame", userHasGame }
        };
        @Html.Partial("GameCard", game, partialViewData)
    }
}
</div>