@using GamesPlatform.ViewModels
@model GameListViewModel
@{
    ViewData["Title"] = "List of avaliable games";
}

<h1 class="text-white">@Model.CurrentCategory</h1>

@{
    foreach (Game game in Model.Games)
    {

        @Html.Partial("GameCard", game)
    }
}